.container {
    align-items: center;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.switchAuthContainer {
    display: flex;
    gap: calc(1rem / 4);
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.errorAlert{
    width: 100%;
}