.blogCard {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: flex-start;
    padding: 2rem 0;
}


.blogImage {
    flex: 0.2;
    aspect-ratio: 1/1;
    position: relative;
}

.blogContent {
    flex: 0.8;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    gap: 0.5rem;
}

.userInfoSection {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.userInfo {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.userAvatar {
    height: 24px;
    width: 24px;
}

.actionSection {
    justify-content: space-between;
    flex-direction: row;
}