.blogCard {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: flex-start;
}


.blogImage {
    flex: 0.2;
    aspect-ratio: 1/1;
    position: relative;
}

.blogContent {
    flex: 0.8;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    gap: 0.5rem;
}

.actionSection {
    justify-content: space-between;
    flex-direction: row;
}